.idea
gh-venv
genlogss3-venv
ghad-venv
gl-env
deaws-env
deaws-venv
ghad-venv
rd-venv

ghalib
ghrlib

.DS_Store
.ipynb_checkpoints
__pycache__

credentials.json
token.pickle

aws-glue-samples
glue-apis

ghrepos-loader-src.zip
ghactivity-downloader-src.zip
ghactivity-downloader.zip
ghrepos-loader.zip

2021-01-20-21.json.gz

retail_db
retail_db_json
